.container {
  width: 100%;
  min-height: 70vh;
  box-sizing: border-box;
  margin-top: -80px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1140px;
  margin: auto;
}

.containerTextLogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerText {
  width: 100%;
  padding: 20px 60px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-600);
}

.spanText {
  margin-right: 3px;
}

.containerLogin {
  position: relative;
  width: 350px;
  height: fit-content;
  background: var(--surface-0);
  box-shadow: 0px 0px 10px #aaaaaa90;
  border-radius: 20px;
  transition: all 0.25s;
  padding: 30px;
  opacity: 0.85;
  cursor: pointer;
}
.containerLogin:hover {
  box-shadow: 0px 3px 10px #aaaaaa;
  opacity: 1;
}

.elements {
  width: 300px;
  margin-bottom: 10px;
  display: block;
}

.elements:first-child {
  animation: animateInput 2s infinite;
}

.elements:first-child:hover {
  animation: none;
}

.bocina {
  position: absolute;
  left: -5px;
  top: 2px;
  background-color: transparent;
  border: none;
}

.silence {
  opacity: 0.4;
}

.bocina > img {
  width: 25px;
  height: 25px;
}

@keyframes animateInput {
  0% {
    border-color: var(--primary-color);
  }
  50% {
    border-color: var(--primary-800);
  }
  100% {
    border-color: var(--primary-color);
  }
}

.elements::placeholder {
  color: var(--yellow-600);
  font-weight: 600;
}

.keyboardContainer {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--surface-50);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(5, 70px);
  box-shadow: 0 0 0.5rem 0.1rem var(--surface-100);
  opacity: 0.6;
}

.keyboardContainer > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowKeys {
  display: flex;
}

.keyContainer {
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.25rem var(--primary-500);
  border-radius: 5px;
  background-color: var(--surface-50);
  padding: 0.4rem 0 0 0.4rem;
  font-size: 1.1rem;
  transition: all 100ms, transform 100ms;
}

.keyContainer:hover {
  background-color: var(--primary-700);
  transform: scale(0.97);
}
.activeKey {
  background-color: var(--primary-700);
}

.onlyOneChar {
  font-size: 1.4rem;
}

.Backspace {
  grid-column: 14 / span 3;
}
.Tab {
  grid-column: 1 / 3;
}
.Slash {
  grid-column: 15 / 17;
}
.CapsLock {
  grid-column: 1 / 3;
}

.Enter {
  grid-column: 14 / 17;
}
.Shift {
  grid-column: 1 / 4;
}
.Rshift {
  grid-column: 14 / 17;
}
.Space {
  grid-column: 5 / 12;
}
.Ctrl {
  grid-column: 1 / 3;
}
.Rctrl {
  grid-column: 15 / 17;
}

@media (max-width: 1150px) {
  .keyboardContainer {
    padding: 1rem;
    border-radius: 10px;
    grid-gap: 6px;
    grid-template-rows: repeat(5, 55px);
  }
  .keyContainer {
    width: 55px;
    height: 55px;
    padding: 0.4rem 0 0 0.4rem;
    font-size: 1rem;
  }
  .onlyOneChar {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .containerTextLogin {
    flex-direction: column;
    align-items: center;
  }
  .keyboardContainer {
    display: none;
  }
  .containerLogin {
    width: 320px;
  }
}
