.elements {
  width: 270px;
  margin-bottom: 10px;
  display: block;
}

.elements:first-child {
  animation: animateInput 2s infinite;
}

.elements:first-child:hover {
  animation: none;
}

@keyframes animateInput {
  0% {
    border-color: var(--primary-color);
  }
  50% {
    border-color: var(--primary-800);
  }
  100% {
    border-color: var(--primary-color);
  }
}

.elements::placeholder {
  color: var(--yellow-600);
  font-weight: 600;
}
