.container {
  position: absolute;
  padding: 0 20px 20px 20px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--highlight-text-color);
  color: var(--primary-color-text);
  font-weight: 500;
  border-radius: 5px;
  z-index: 99;
  text-wrap: nowrap;
  overflow: hidden;
}

.normalContainer {
  right: 0;
  top: 0;
  margin: 10px;
}

.modalContainer {
  height: auto;
  width: 300px;
  top: 20vh;
  padding-left: 20px;
  left: calc(50vw - 200px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  text-align: center;
}

.container div {
  margin-top: 10px;
}

.containerNames {
  display: flex;
  align-items: center;
}

.modalContainer div {
  margin-top: 20px;
}

.badge {
  margin-right: 10px;
}

.modalContainer .badge {
  margin-right: 30px;
  transform: scale(1.3);
}

.modalContainer .userName {
  font-size: 1.6rem;
  transform: translate(0, -2px);
}
