.container {
  max-width: 400px;
  height: auto;
  margin: 20px;
  font-size: 1.7rem;
  font-weight: 500;
}

.inputHidden {
  position: absolute;
  scale: 0;
}

/* .lastCorrectLetter::before {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--cyan-700);
  position: absolute;
  bottom: 3px;
  right: 0px;
} */

.span {
  opacity: 0.95;
}

.correctLetter {
  color: var(--gray-800);
  opacity: 1;
  position: relative;
}

.incorrectLetter {
  color: var(--red-600);
}

.incorrectLetter > span {
  opacity: 1;
}
