.container {
  max-width: 400px;
  height: auto;
  margin: 20px;
  font-size: 1.7rem;
  font-weight: 500;
}

.inputHidden {
  position: absolute;
  scale: 0;
}

.correctLetter {
  color: var(--gray-800);
  opacity: 0.5;
  position: relative;
  animation: indicator 1s infinite;
}

.incorrectLetter {
  color: var(--red-600);
}

.space::before {
  content: '\23CE';
  display: inline-block;
}

@keyframes indicator {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
