.container {
  width: auto;
  height: auto;
  margin: auto;
  font-weight: 300;
}

.inputHidden {
  position: absolute;
  white-space: unset;
  scale: 0;
}

.textTyped {
  color: var(--gray-100);
  display: inline;
}

.textToType {
  color: var(--gray-500);
}

.space::before,
.spaceWrong::before {
  position: absolute;
  content: '\23CE';
  display: inline-block;
  font-weight: bold;
}

.space::before {
  animation: indicator 1.5s infinite linear;
}

.spaceWrong::before {
  animation: indicatorWrong 1.5s infinite linear;
}
.prev {
  text-wrap: wrap;
  padding: 13px;
  font-size: 1.8em;
  line-height: 1.7;
}

.indicator {
  animation: indicator 1.5s infinite linear;
}

.indicatorWrong {
  animation: indicatorWrong 1.5s infinite linear;
}

@media (max-width: 1150px) {
  .prev {
    line-height: 1.7;
  }
}

@media (max-width: 800px) {
  .prev {
    font-size: 1.5em;
  }
}

@keyframes indicator {
  0% {
    background-color: var(--primary-200);
  }
  25% {
    background-color: var(--primary-500);
  }
  50% {
    background-color: var(--primary-700);
  }
  75% {
    background-color: var(--primary-500);
  }
  100% {
    background-color: var(--primary-200);
  }
}

@keyframes indicatorWrong {
  0% {
    background: var(--red-200);
  }
  25% {
    background: var(--red-400);
  }
  50% {
    background: var(--red-500);
  }
  75% {
    background: var(--red-400);
  }
  100% {
    background: var(--red-200);
  }
}
