.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 95vw;
  height: auto;
  margin: auto;
  margin-bottom: 200px;
  max-width: 1200px;
  padding: 50px 0;
  border-radius: 10px;
  background: var(--gray-800);
}

.title {
  text-align: center;
  font-size: 3.3rem;
}

.buttonBackRooms {
  position: absolute;
  left: 0;
  top: 0;
}
